* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: montserrat;
}

nav {
    background: white;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
}

label .logo {
    line-height: 80px;
    font-size: 35px;
    color: white;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    margin: 0 5px;
    line-height: 80px;
    display: inline-block;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    /* border-radius: 3px; */
    text-transform: uppercase;
}
a .active ,a:hover {
    border-bottom: 2px solid rgb(75, 75, 75);
    /* transition: 0.5s;     */
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;

    }
}
/* @media (max-width: 658px){
    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 70%;
        height: 75vh;
        background: rgba(152, 150, 150, 0.933);
        top: 80px;
        left: 15%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover ,a.active{
        background: none;
        color: blueviolet;
    }
    #check:checked ~ ul {
        left: 0;
    } 
} */