nav {
    background-position: center;
    min-height:10px;
    width:100%;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
}
nav ul {
    /* float: right; */
    margin-right: 50px;
}
nav ul li {
    margin: 3 5px;
    line-height: 20px;
    display: inline-block;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    /* border-radius: 3px; */
    text-transform: uppercase;
}
a .active ,a:hover {
    border-bottom: 2px solid rgb(64, 64, 64);
    /* transition: 0.5s;*/
}